/****Header****/
@media all and (max-width: 768px) {
  /****Header****/
  .logo {
    margin: 3rem 0 4.81rem 2.437rem;
  }

  /****Hero****/
  .img-hero-left {
    left: -10.56rem;
    min-height: 356px;
    width: 314px;
  }

  .img-hero-middle {
    width: 386px;
    min-height: 268px;
    top: 2.125rem;
  }

  .img-hero-right {
    right: -10.687rem;
    width: 317px;
    min-height: 356px;
  }

  .presentation-hero {
    margin: 3.187rem 0.625rem 0 0.625rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .content-hero {
    margin: 1.5rem 0 2rem 0;
    width: 60%;
  }
}

@media all and (max-width: 600px) {
  .img-hero-left {
    left: -13.31rem;
  }
  .img-hero-right {
    right: -13.75rem;
  }
}

/****Middle Section****/
@media all and (max-width: 768px) {
  .section-middle-content {
    display: flex;
    flex-direction: column;
    margin: 10.06rem 6.06rem 0 6.125rem;
  }

  .first-box-middle,
  .second-box-middle {
    display: flex;
    flex-direction: row;
  }

  .margin-box-middle {
    margin-right: 0rem;
  }

  .img-box-start {
    padding: 1.375rem 1.5rem 1.375rem 1.875rem;
  }

  /***need to modifie padding below ***/
  .img-box-middle-left {
    padding: 2.375rem 2.687rem 2.31rem 2.687rem;
  }

  .img-box-middle-right {
    padding: 2.25rem 2.5rem 2.125rem 2.5rem;
  }

  .img-box-end {
    padding: 2.81rem 1.75rem 2.81rem 1.75rem;
  }
  /**********CLASS TEST DIV for put title and paragraph in column***********/
  .test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
